<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Trello" verbose="1" >
    <test name="SmokeTest" >
        <classes>
            <class name="com.vlad.trello.LoginTest" />
            <class name="com.vlad.trello.BoardCreationTests" />
        </classes>
    </test>


</suite>